/* You can add global styles to this file, and also import other style files */

body{
  /*background: url("/assets/img/bg.png") repeat;*/
  background-size:contain;
}
.container{
  padding: 20px;
}
.wrapper{
  margin-left: 50px;


}
.table-striped{
  padding :2px;
}

.form-group {
  padding-right: 5px;
}

.ngx-datepicker-calendar-container{
  z-index: 999 !important;
}