<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline">
          <div class="form-group">
            <label class="control-label from" for="text">From</label>
            <div class="input-group date" data-provide="datepicker">
              <div class="input-group-addon">
                <ng-datepicker [options]="options" name="fromDate" [(ngModel)]="customer.from">
                </ng-datepicker>

              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label from" for="text">To</label>

            <div class="input-group date">
              <ng-datepicker [options]="options" name="toDate" [(ngModel)]="customer.to">
              </ng-datepicker>


            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline">
          <div class="form-group">
            <label class="control-label"><i class="fa fa-user-circle" aria-hidden="true"></i>Username</label>
            <input type="text" class="form-control" id="text" name="userName" [(ngModel)]="customer.name">
          </div>
          <div class="form-group">

            <label class="control-label" for="qty"><i class="fa fa-key" aria-hidden="true"></i>Nationality</label>
            <input type="text" class="form-control" id="qty"  name="nationality" [(ngModel)]="customer.nation">
          </div>

          <div class="form-group">
            <label for="text" class="control-label"><i class="fa fa-unlock-alt" aria-hidden="true"></i>Passport no</label>
            <input type="text" class="form-control" id="passportNo" name="passportNo" [(ngModel)]="customer.passportNumber">
          </div>

          <div class="form-group">
            <label for="text" class="control-label"><i class="fa fa-envelope" aria-hidden="true"></i>Email </label>
            <input type="email" class="form-control" id="price" name="email" [(ngModel)]="customer.email">
          </div>
          <div class="form-group">


          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary" role="button" (click)="saveCustomer()">Submit</button>
          </div>
          <div class="form-group">
            <button type="danger" class="btn btn-danger" role="button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="form-group">&nbsp;</div>
    <div class="form-group">&nbsp;</div>
    <div class="table">
      <table class=" table table-striped">
        <tr>
          <th>S.N</th>
          <th>Name</th>
          <th>Nationality</th>
          <th>Email</th>
          <!--<th>Passport No.</th>-->
          <th></th>
        </tr>
        <tr *ngFor="let customer of customers">
          <td>{{customer.id}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.nation}}</td>
          <td>{{customer.email}}</td>
          <!--<td>blahblahblah@gmail.com</td> // change to passport number later-->
          <td>

              <button class="btn btn-primary" role="button" (click)="getCustomer(customer.id)"><i class="fa fa-pencil" aria-hidden="true" ></i>Edit</button>


              <button type="danger" class="btn btn-danger" role="button"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>

          </td>
        </tr>

      </table>
    </div>
  </div>
</div>
